body {
  background-color: #282C33;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.header {
  margin-bottom: 150px;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu .logo {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.header .menu_items {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header .menu_items .menu_item {
  display: flex;
  align-items: center;
  margin-right: 32px;
  color: #ABB2BF;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}
.header .menu_items .menu_item:hover {
  color: #ffffff;
}
.header .menu_items .menu_item .select {
  background: none;
  border: none;
  color: #ABB2BF;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.header .menu_items .menu_item .select:focus {
  outline: none;
}
.header .menu_items .menu_item p {
  color: #C778DD;
}
.header .desc {
  display: flex;
  justify-content: space-between;
}
.header .desc_left_header {
  margin: 75px 0px 32px 0px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #C778DD;
}
.header .desc_left_text {
  margin-bottom: 24px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ABB2BF;
}
.header .desc_left_button {
  max-width: 148px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #C778DD;
  padding: 8px 8px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

.projects_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects_header_text {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}
.projects_header_text p {
  color: #C778DD;
}
.projects_header_text:after {
  content: "";
  width: 511px;
  height: 1px;
  background: #C778DD;
  margin-left: 16px;
}
.projects_header_button {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}
.projects_items {
  display: flex;
  justify-content: space-between;
}
.projects_item {
  border: 1px solid #ABB2BF;
}
.projects_item_img {
  width: 336px;
  height: 200x;
  border-bottom: 1px solid #ABB2BF;
}
.projects_item_language {
  padding: 5px;
  color: #ABB2BF;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid #ABB2BF;
}
.projects_item_info {
  padding: 16px;
}
.projects_item_info_header {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.projects_item_info_desc {
  margin-bottom: 16px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}
.projects_item_info_buttons {
  display: flex;
  justify-content: space-between;
}
.projects_item_info_buttons .button {
  border: 1px solid #ABB2BF;
  width: 120px;
  padding: 8px;
  text-align: center;
}
.projects_item_info_buttons .button a {
  color: #ABB2BF;
  text-decoration: none;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.projects_item_info_buttons .active {
  border: 1px solid #C778DD;
}
.projects_item_info_buttons .active a {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */