body
    background-color: #282C33
.container
    max-width: 1024px
    margin: auto

.header
    margin-bottom: 150px
    .menu
        display: flex
        justify-content: space-between
        align-items: center
        .logo
            font-family: 'Fira Code'
            font-style: normal
            font-weight: 700
            font-size: 16px
            line-height: 21px
            color: #ffffff
        &_items
            display: flex
            justify-content: space-between
            list-style-type: none
            .menu_item
                display: flex
                align-items: center
                margin-right: 32px
                color: #ABB2BF
                font-family: 'Fira Code'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 21px
                cursor: pointer
                &:hover
                    color: #ffffff
                .select
                    background: none
                    border: none
                    color: #ABB2BF
                    font-family: 'Fira Code'
                    font-style: normal
                    font-weight: 600
                    font-size: 16px
                    line-height: 21px
                    &:focus
                       outline: none
                p
                    color: #C778DD

    .desc
        display: flex
        justify-content: space-between
        &_left
            &_header
                margin: 75px 0px 32px 0px
                font-family: 'Fira Code'
                font-style: normal
                font-weight: 600
                font-size: 32px
                line-height: 42px
                color: #C778DD
            &_text
                margin-bottom: 24px
                font-family: 'Fira Code'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 25px
                color: #ABB2BF
            &_button
                max-width: 148px
                text-align: center
                color: #ffffff
                border: 1px solid #C778DD
                padding: 8px 8px
                font-family: 'Fira Code'
                font-style: normal
                font-weight: 500
                font-size: 16px
                line-height: 21px
                cursor: pointer


.projects
    
    &_header
        display: flex
        justify-content: space-between
        align-items: center
        &_text
            display: flex
            align-items: center
            color: #FFFFFF
            font-family: 'Fira Code'
            font-style: normal
            font-weight: 500
            font-size: 32px
            line-height: 42px
            p
                color: #C778DD
            &:after
                content: ""
                width: 511px
                height: 1px
                background: #C778DD
                margin-left: 16px
        &_button
            font-family: 'Fira Code'
            font-style: normal
            font-weight: 500
            font-size: 16px
            line-height: 21px
            color: #ffffff
            cursor: pointer
    &_items
        display: flex
        justify-content: space-between
    &_item
        border: 1px solid #ABB2BF
        &_img
            width: 336px
            height: 200x
            border-bottom: 1px solid #ABB2BF
        &_language
            padding: 5px
            color: #ABB2BF
            font-family: 'Fira Code'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 21px
            border-bottom: 1px solid #ABB2BF
        &_info
            padding: 16px
            &_header
                font-family: 'Fira Code'
                font-style: normal
                font-weight: 500
                font-size: 24px
                line-height: 31px
                color: #FFFFFF
            &_desc
                margin-bottom: 16px
                font-family: 'Fira Code'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 21px
                color: #ABB2BF
            &_buttons
                display: flex
                justify-content: space-between
                .button
                    border: 1px solid #ABB2BF
                    width: 120px
                    padding: 8px
                    text-align: center
                    a
                        color: #ABB2BF
                        text-decoration: none
                        font-family: 'Fira Code'
                        font-style: normal
                        font-weight: 500
                        font-size: 16px
                        line-height: 21px
                .active
                    border: 1px solid #C778DD
                    a 
                        color: #ffffff





                