html {
  scroll-behavior: smooth;
}

body {
  background-color: #282C33;
  font-family: "Fira Code";
  font-style: normal;
}

.container {
  max-width: 1024px;
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ABB2BF;
}
a:hover {
  color: #ffffff;
}

.section_header {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}
.section_header p {
  color: #C778DD;
}
.section_header:after {
  content: "";
  width: 511px;
  height: 1px;
  background: #C778DD;
  margin-left: 16px;
}

header {
  margin-bottom: 150px;
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu .logo {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
header .menu_items {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header .menu_items .menu_item {
  display: flex;
  align-items: center;
  margin-right: 14px;
  color: #ABB2BF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}
header .menu_items .menu_item:hover {
  color: #ffffff;
}
header .menu_items .menu_item .select {
  background: none;
  border: none;
  color: #ABB2BF;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
header .menu_items .menu_item .select:focus {
  outline: none;
}
header .menu_items .menu_item p {
  color: #C778DD;
}
header .desc {
  display: flex;
  justify-content: space-between;
  width: auto;
}
header .desc_left_header {
  margin: 75px 0px 32px 0px;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #C778DD;
}
header .desc_left_text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ABB2BF;
}
header .desc_left_button {
  max-width: 148px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #C778DD;
  padding: 8px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}
header .desc_right_text {
  border: 1px solid #ABB2BF;
  padding: 5px;
  color: #ABB2BF;
  text-align: center;
}
header .desc_right_text a {
  color: #ffffff;
}
header .desc_right_text a:hover {
  color: #C778DD;
}
header .desc_right_text:before {
  content: ".";
  width: 16px;
  height: 16px;
  background: #C778DD;
  border: 1px solid #C778DD;
}

.projects {
  margin-bottom: 120px;
}
.projects_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects_items {
  display: flex;
  justify-content: space-between;
}
.projects_item {
  width: 330px;
  height: auto;
  border: 1px solid #ABB2BF;
}
.projects_item_img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ABB2BF;
}
.projects_item_language {
  padding: 5px;
  color: #ABB2BF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid #ABB2BF;
}
.projects_item_info {
  padding: 16px;
}
.projects_item_info_header {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.projects_item_info_desc {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}
.projects_item_info_buttons {
  display: flex;
}
.projects_item_info_buttons .button {
  border: 1px solid #ABB2BF;
  padding: 8px;
  margin-right: 5px;
  text-align: center;
}
.projects_item_info_buttons .button a {
  color: #ABB2BF;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.projects_item_info_buttons .active {
  border: 1px solid #C778DD;
}
.projects_item_info_buttons .active a {
  color: #ffffff;
}

.skills_header {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}
.skills_header:after {
  content: "";
  width: 511px;
  height: 1px;
  background: #C778DD;
  margin-left: 16px;
}
.skills_header p {
  color: #C778DD;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.skills_left {
  margin-left: 30px;
  margin-right: 30px;
}
.skills_right_items {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
}
.skills_right_item {
  border: 1px solid #ABB2BF;
  margin: 30px 30px 0px 0px;
}
.skills_right_item_header {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  border-bottom: 1px solid #ABB2BF;
  padding: 3px;
}
.skills_right_item_body {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
  padding: 8px;
}
.skills_right_item:nth-last-child(2) {
  margin-left: 290px;
}

.about_me {
  margin-bottom: 120px;
}
.about_me_inner_body {
  display: flex;
  justify-content: space-between;
}
.about_me_inner_body_left_header, .about_me_inner_body_left_desc {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}

.contacts {
  margin-bottom: 100px;
}
.contacts_body {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.contacts_body_left {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}
.contacts_body_right {
  border: 1px solid #ABB2BF;
  padding: 16px;
}
.contacts_body_right_header {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.contacts_body_right div {
  display: flex;
  justify-content: center;
}
.contacts_body_right div table tr th {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .projects_items {
    width: 970px;
    flex-wrap: wrap;
  }
  .projects_item {
    width: 300px;
    margin-bottom: 20px;
  }
  .skills container {
    max-width: 970px;
  }
  .skills_left {
    margin-right: 120px;
  }
  .skills_right_items {
    display: flex;
    flex-wrap: wrap;
  }
  .skills_right_item {
    margin: 30px 30px 0px 0px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  header .desc_img {
    width: 330px;
    height: 330px;
  }
  .projects_items {
    width: 750px;
    flex-wrap: wrap;
  }
  .projects_item {
    width: 325px;
    margin-bottom: 20px;
  }
  .skills_left {
    width: 200px;
    height: 200px;
  }
  .skills_right {
    max-width: 700px;
  }
  .skills_right_items {
    display: flex;
  }
  .skills_right_item {
    margin: 30px 10px 0px 0px;
  }
  .about_me_inner_body {
    display: flex;
    justify-content: space-between;
  }
  .about_me_inner_body_left {
    width: 350px;
  }
  .about_me_inner_body_left_header, .about_me_inner_body_left_desc {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ABB2BF;
  }
  .section_header:after {
    content: "";
    width: 350px;
    height: 1px;
    background: #C778DD;
    margin-left: 16px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: none;
  }
  .projects_items {
    flex-wrap: wrap;
  }
  .projects_item {
    margin-left: 30px;
    width: 500px;
    margin-bottom: 20px;
  }
  a {
    font-size: 14px;
  }
  .section_header:after {
    content: "";
    width: 200px;
    height: 1px;
    background: #C778DD;
    margin-left: 16px;
  }
  header .desc {
    align-items: center;
  }
  header .desc_left {
    width: 300px;
  }
  header .desc_img {
    width: 250px;
    height: 100%;
  }
  .contacts_body_right {
    margin-right: 20px;
  }
  .skills {
    display: block;
  }
  .skills_left {
    adding: 30px;
    width: 70%;
    height: 70%;
  }
  .skills_right {
    padding: 30px;
    max-width: 500px;
  }
  .skills_right_items {
    display: flex;
  }
  .skills_right_item {
    margin: 30px 10px 0px 0px;
  }
}
@media screen and (max-width: 590px) {
  .logo {
    display: none;
  }
  .menu_items {
    align-items: flex-start;
    padding: 0px;
  }
}
@media screen and (max-width: 530px) {
  header {
    margin: 0;
    width: 350px;
  }
  header .desc {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
  }
  header .desc_img {
    width: 100%;
    height: 100%;
  }
  header .desc_left {
    min-width: 300px;
  }
  header .desc_left_header {
    font-size: 32px;
  }
  header .desc_left_text {
    font-size: 14px;
  }
  .projects_items {
    width: 350px;
    justify-content: center;
    align-items: center;
  }
  .projects_item {
    width: 300px;
    margin-bottom: 20px;
  }
  .skills {
    display: block;
  }
  .skills_left {
    max-width: 200px;
  }
  .skills_right {
    max-width: 300px;
    margin: 0px;
  }
  .skills_right_items {
    justify-content: center;
  }
  .skills_right_item {
    width: 250px;
    margin: 30px 10px 0px 0px;
  }
  .skills_right_item:nth-last-child(2) {
    margin-left: 0px;
  }
  .about_me {
    width: 100%;
  }
  .about_me_inner_body {
    display: block;
  }
  .about_me_inner_body_left {
    width: 350px;
  }
  .about_me_inner_body_left_header, .about_me_inner_body_left_desc {
    display: block;
    text-align: justify;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ABB2BF;
  }
  .section_header {
    font-size: 20px;
  }
  .contacts {
    margin-bottom: 100px;
  }
  .contacts_body {
    display: block;
    margin: 46px 0px 0px 30px;
  }
  .contacts_body_left {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ABB2BF;
    margin-bottom: 15px;
  }
  .contacts_body_right {
    border: 1px solid #ABB2BF;
    width: 300px;
    padding: 16px;
  }
  .contacts_body_right_header {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}/*# sourceMappingURL=style.css.map */